.weather__descriptions {
  display: flex;
  justify-content: space-around;
}

.weather__descriptions-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  box-shadow: 2px 1px 10px black;
  border-radius: 20px;
  padding: 25px;
  /* background: #ffdead; */
}

.weather__icon-feels {
  width: 55px;
}

.weather__feels-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}