body {
  background-image: url(./img/nature.avif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  object-fit: cover;
  font-family: 'Kanit', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__input {
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 15px;
	outline: none;
	/* opacity: .7; */
}
